.navbar-brand {
  background-color: #4dd2ff;
  
}

.navbar-collapse {
  background-color: #4dd2ff;
  letter-spacing:4px;
}

.aboutbody {
  background-color: #ccffff;
}


/*this is for the jumbotron*/
.new {
  padding: 50px 10px;
  text-align: center;
}

.jumbotron-background {
  padding: 0px;
  margin: 0px;
  background-image: url(Pictures/backcountry.jpg);
  background-size:cover;
  
}


.carousel-inner img {
    width: 50%;
    margin: auto;;
}

.carousel .item {
  height: 350px;
}



.listing  {
   padding: 25px;
    text-align: center;
    background-color:	#ccffff;
    border: solid 1px #c3c3c3
}


.parks {
    padding: 25px;
    display: none;
    text-align: center
}



